.btn.btn {
	cursor: pointer;
	font-size: 14px;
	border: 1px solid;
	border-radius: 4px;
	text-decoration: none;
	padding: 13px 56px 12px;
	text-transform: uppercase;
	transition: background-color 0.2s linear, color 0.2s linear, border-color 0.2s linear;

	&--primary {
		color: $white;
		border-color: $white;
		background-color: $havelock-blue;

		&:hover {
			background-color: $picton-blue;
		}

		&-inverse {
			color: $shark;
			background-color: $white;
			border-color: $havelock-blue;

			&:hover {
				background-color: $iron;
				border-color: $picton-blue;
			}
		}
	}

	&--secondary {
		color: $shark;
		background-color: $white;
		border-color: $storm-gray;

		&:hover {
			color: $charade;
			border-color: $charade;
			background-color: $seashell;
		}
	}
}

.btn-group {
	$parent: &;

	&--horizontal {
		display: flex;
		margin: -20px -14px 0;

		#{$parent}__item {
			padding: 0 14px;
			margin-top: 20px;
		}
	}
}
