input {
    border: none;
    outline: none;
    display: block;
}

.form__item--search {
    .fa-search {
        top: 50%;
        right: 16px;
        font-size: 16px;
        position: absolute;
        transform: translateY(-50%);
        transition: color 0.2s linear;
        color: rgba(193, 160, 103, 0.5);
    }
}

.form__input {
    width: 100%;
    max-width: 100%;
    font-size: 0.875rem;
    line-height: normal;
    padding: 20px 15px 20px;
    border-bottom: 3px solid;
    border-bottom-color: rgba(193, 160, 103, 0.5);
    transition: border-color 0.2s;

    &::placeholder {
    	opacity: 1;
    	font-size: 12px;
    	text-transform: uppercase;
    	transition: opacity 0.2s linear;
    }

    &:focus {
    	border-bottom-color: rgba(193, 160, 103, 1);

    	+ .fa-search {
    		color: rgba(193, 160, 103, 1);
    	}

    	&::placeholder {
	    	opacity: 0.5;
	    }
    }
}

.form__item--search {
	position: relative;
}

.form--subscribe {
    margin-bottom: 40px;

    .form__input {
        color: $white;
        background-color: transparent;

        &::placeholder {
            color: $white;
            opacity: 0.8;
        }

        &:focus {
            &::placeholder {
                opacity: 0.5;
            }
        }
    }

    .form__submit {
        border: none;
        opacity: 0.8;
        outline: none;
        display: block;
        font-size: 12px;
        padding: 14px 0;
        font-weight: 700;
        text-transform: uppercase;
        background-color: transparent;
    }

    .form__item {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .form--subscribe {
        margin-bottom: 20px;
    }
}
