.header {
    &--desktop {
        height: 100%;
        display: block;

        > .container {
            height: 100%;
        }
    }

    &--mobile {
        display: none;
    }

    flex: none;
    width: 100%;
    z-index: 1052;
    height: 100px;
    font-size: 13px;
    position: fixed;
    background-color: $bright-gray-opacity-0-9;

    &__top {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            color: $white;
            flex-shrink: 0;
            font-size: 28px;
            letter-spacing: 0.2px;
            font-family: 'LatoWebSemibold';
        }
    }
}

@media (min-width: 769px) {
    .main-nav {
        height: 100%;
        flex-grow: 1;
        max-width: 455px;
        flex-basis: 455px;
        margin-left: 20px;

        &__list {
            height: 100%;
            display: flex;
            justify-content: space-between;
        }

        &__link {
            height: 100%;
            color: $white;
            display: flex;
            font-size: 13px;
            padding: 0 10px;
            align-items: center;
            text-decoration: none;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            transition: color 0.2s linear;

            &.active {
                color: $picton-blue;
            }

            &:hover,
            &:focus {
                color: $picton-blue;
            }
        }
    }

    .main-tools {
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 58.33333%;
        flex-basis: 58.33333%;

        &__info {
            height: 100%;
            padding-top: 10px;
        }

        &__contacts {
            margin-top: 23px;
        }
    }
}

@media (max-width: 1150px) {
    .header {
        height: 60px;
    }
}

@media (max-width: 768px) {
    .header {
        &--desktop {
            display: none;
        }

        &--mobile {
            display: block;
        }
    }

    .header__top {
        height: 100%;
        display: block;
    }

    .header__top > .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header--mobile {
        height: 100%;
        position: relative;
    }

    .header__top .logo {
        font-size: 20px;
    }
}
