.section {
    $parent: &;

    padding: 110px 0;

    &__title {
        font-size: 35px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: 'LatoWebBold';
    }

    &__header {
        text-align: center;
    }

    &__subtitle {
        font-size: 18px;
    }

    &__body {
        margin-top: 50px;
    }

    &--dark {
        color: $white;

        #{$parent}__subtitle {
            color: $silver;
        }
    }

    &--bg {
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__container {

    }

    &--banner {
        padding: 235px 0 200px;
        background-position: top right;
        background-image: url('../images/bg.jpg');

        #{$parent}__container {
            max-width: 800px;
        }

        #{$parent}__title {
            font-size: 47px;
            line-height: 1.35;
            letter-spacing: 0.6px;
        }

        #{$parent}__header {
            text-align: left;
        }

        #{$parent}__body {
            font-size: 20px;
        }

        #{$parent}__footer {
            margin-top: 74px;
        }
    }

    &--map {
        background-size: contain;
        background-color: $charade;
        background-position: 50% 0;
        background-image: url('../images/map.png');
    }
}
