$white: #fff;
$charade: #272733;
$havelock-blue: #3e9cdc;
$jelly-bean: #286690;
$vulcan: #10101d;
$picton-blue: #42a9ed;
$shark: #2a2b30;
$manatee: #959597;
$silver: #bbbbbb;
$bright-gray: #3d4050;
$bright-gray-opacity-0-9: rgba(61, 64, 80, 0.9);
$storm-gray: #6f6d7b;
$iron: #dfdfe1;

$colors:
	$white,
	$charade,
	$havelock-blue,
	$jelly-bean,
	$vulcan,
	$picton-blue,
	$shark,
	$manatee,
	$silver,
	$bright-gray,
	$bright-gray-opacity-0-9,
	$storm-gray,
	$iron;

$colorNames:
	'white',
	'charade',
	'havelock-blue',
	'jelly-bean',
	'vulcan',
	'picton-blue',
	'shark',
	'manatee',
	'silver',
	'bright-gray',
	'bright-gray-opacity-0-9',
	'storm-gray',
	'iron';

@mixin colorsClases($colors, $colorNames) {
  $i: 1;
  @each $color in $colors {
    .#{nth($colorNames, $i)}-text {
      color: $color !important;
    }
    .#{nth($colorNames, $i)}-bg {
      background-color: $color !important;
    }
    .#{nth($colorNames, $i)}-fill {
      fill: $color !important;
    }
    $i: $i + 1;
  }
}
