$white: #fff;
$charade: #272733;
$havelock-blue: #3e9cdc;
$jelly-bean: #286690;
$vulcan: #10101d;
$picton-blue: #42a9ed;
$shark: #2a2b30;
$manatee: #959597;
$silver: #bbbbbb;
$bright-gray: #3d4050;
$bright-gray-opacity-0-9: rgba(61, 64, 80, 0.9);
