.upload-file {
    &__input {
        opacity: 0;
        z-index: -1;
        width: 0.4px;
        height: 0.4px;
        overflow: hidden;
        position: absolute;
    }

    &__label {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;

        > i {
            margin-right: 8px;
            font-size: 19px;
        }

        &.btn.btn {
            line-height: 1.2;
            padding: 14px 56px 13px;
        }
    }

    &__text {
        max-width: 100%;
        overflow: hidden;
        margin-top: 0.2em;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
