.upload-file__input {
    opacity: 0;
    z-index: -1;
    width: 0.4px;
    height: 0.4px;
    overflow: hidden;
    position: absolute;
}

.upload-file__label {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    > i {
        margin-right: 11px;
    }
}
