<div class="footer-info">
    <div class="footer-info__container">
        <div class="footer-info__item">
            <div class="footer-info-item">
                <div class="footer-info-item__img">
                    <img src="../../../images/qiwi.svg" alt="">
                </div>
                <div class="footer-info-item__text footer-info-item__text--opacity">Qiwi wallet</div>
            </div>
        </div>
        <div class="footer-info__item">
            <div class="footer-info-item">
                <div class="footer-info-item__img">
                    <img src="../../../images/ya-money.svg" alt="">
                </div>
                <div class="footer-info-item__text footer-info-item__text--opacity">Yandex Money</div>
            </div>
        </div>
        <div class="footer-info__item">
            <div class="footer-info-item">
                <div class="footer-info-item__img">
                    <img src="../../../images/web-money.svg" alt="">
                </div>
                <div class="footer-info-item__text footer-info-item__text--opacity">Web Money</div>
            </div>
        </div>
    </div>
</div>
