<div class="footer-info">
    <div class="footer-info__container">
        <div class="footer-info__item">
            <a href="mailto:info@ipsum228.com" class="footer-info-item footer-info-item--no-hide">
                <div class="footer-info-item__img">
                    <i class="far fa-envelope"></i>
                </div>
                <div class="footer-info-item__text">info@ipsum228.com</div>
            </a>
        </div>
        <div class="footer-info__item">
            <a href="#" class="footer-info-item">
                <div class="footer-info-item__img">
                    <i class="fab fa-vk"></i>
                </div>
                <div class="footer-info-item__text">Мы вконтакте</div>
            </a>
        </div>
    </div>
</div>
