            </main>
        </div>
        <footer class="footer">
            <div class="footer__main">
                <div class="container container--wide">

                </div>
            </div>
            <div class="footer__bottom">
                <div class="container container--wide">
                    <div class="copyright">
                        <div class="copyright__item">&copy;&nbsp;2018 <span class="u-uppercase">«LoremIpsum.net»</span> Все права защищены.</div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
