<nav class="main-nav">
    <ul class="main-nav__list">
        <li class="main-nav__item">
            <a href="#" class="main-nav__link active">Бизнес</a>
        </li>
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">О&nbsp;нас</a>
        </li>
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Цены</a>
        </li>
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Оформить заказ</a>
        </li>
    </ul>
</nav>
