.custom-hundler {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    padding-right: 10px;
  }

  &__input {
    width: 100%;
    margin: 10px 0;
    -webkit-appearance: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 6px;
      cursor: pointer;
      background: $iron;
      border-radius: 25px;
      border: 1px solid $white;
    }

    &::-webkit-slider-thumb {
      width: 24px;
      height: 24px;
      cursor: pointer;
      margin-top: -10px;
      border-radius: 50%;
      background: $picton-blue;
      -webkit-appearance: none;
      border: 3px solid $jelly-bean;
    }

    &:focus::-webkit-slider-runnable-track {
      background: $iron;
    }

    &::-moz-range-track {
      width: 100%;
      animate: 0.2s;
      height: 6px;
      cursor: pointer;
      background: $iron;
      border-radius: 25px;
      border: 1px solid $white;
    }

    &::-moz-range-thumb {
      height: 24px;
      width: 24px;
      cursor: pointer;
      border-radius: 50%;
      background: $picton-blue;
      border: 3px solid $jelly-bean;
    }

    &::-ms-track {
      width: 100%;
      height: 6px;
      animate: 0.2s;
      cursor: pointer;
      color: transparent;
      border-width: 39px 0;
      background: transparent;
      border-color: transparent;
    }

    &::-ms-fill-lower {
      background: $iron;
      border-radius: 50px;
      border: 1px solid $white;
    }

    &::-ms-fill-upper {
      background: $iron;
      border-radius: 50px;
      border: 1px solid $white;
    }

    &::-ms-thumb {
      width: 24px;
      height: 24px;
      cursor: pointer;
      border-radius: 50%;
      background: $picton-blue;
      border: 3px solid $jelly-bean;
    }

    &:focus::-ms-fill-lower {
      background: $iron;
    }

    &:focus::-ms-fill-upper {
      background: $iron;
    }
  }
}
